.navegacaoCatalogo {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(to right, rgb(176, 126, 223), #5E0396);
}

.generos {
  text-decoration: none;
  color: white;
  padding: 1.5vh;
  font-size: 1.2rem;
  transition: ease-out 0.5s;
  z-index: 9999;
  border-radius: 5px;
  
}
.generos:hover {
  transform: scale(1.1);
  background: #954dc2;
  transition: 0.5s ease-in;
  border-radius: 5px;
}
